/*color #545454, rgb(0 74 173)*/
.experts {
    background-color: #545454;
    p {
        font-family: 'Lato', sans-serif;
        font-size: 25px;
        font-weight: 400;
    }

    button {
        font-size: 18px;
        text-align: center;
        transition: all ease-in-out .6s;
        padding: 7px;
        margin:-8px 0px;

        &:hover {
            background-color: #545454;
            color: white;
            transition: all ease-in-out .6s;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }
    }
}