.ourMission{
    h3{
        font-family: 'Lato', sans-serif;
        font-size: 30px;
        line-height: 39px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0px;
        text-transform: none;
        color: rgb(0 74 173);
    }
    p{
        font-family: 'Lato', sans-serif; 
    }

}